    
body {
  background-image: url(/afbeeldingen/arberg.jpg)
}


h1 {
  
  color: white; /* Letterkleur in mijn kopje */
  text-align: center; /* Plek van de tekst in kopje */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Lettertype in mijn kopje */
  font-size: 32px; /*Lettergrootte in mijn kopje*/ 
  text-decoration: underline; /* Tekst decoratie in mijn kopje */
  text-decoration-color: lightblue;  /* Kleur tekst decoratie in mijn kopje */
}

p {
  color: white; /* Letterkleur in mijn paragrafen */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Lettertype in paragrafen */
  font-size: 20px; /* Lettergrootte in mijn paragrafen */
}

footer {
  color: white;/* Letterkleur in de footer */
  font-size: 18px; /* Lettergrootte in de footer */
  background-color: #111; /* Achtergrondkleur in de footer */
  border: 2px solid white; /* Dikte en kleur rand om de footer */
  text-align: center; /* Plek van de tekst in de footer */
}

.navbar {
  overflow: hidden;
  background-color: #333;
  border-left: 4px lightblue;
}

.navbar a {
  float: left;
  font-size: 22px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown {
  float: left;
  overflow: hidden;
  border-left: 4px lightblue; 
}

.dropdown .dropbtn {
  font-size: 22px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: lightblue;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  background-color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: lightblue;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.grid-container {
  display: grid;
  grid-template-areas: 'left left middle middle right right';
  grid-column-gap: 10px;} 

.column {
  padding: 20px;
  height: 800px;
  background-color: lightblue;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  font-size: 20px;
}