/*ul { 
  list-style-type: none; /* Deze code zorgt ervoor dat de unordered list niet gemaakt wordt van opgesomde puntjes of streepjes 
  margin: 0; /* Deze code zorgt ervoor dat er geen ruimte zit tussen elementen, dat die gewoon links boven begint ipv ergens anders in de pagina */
  /*padding: 0; /* Deze code zorgt ervoor dat er weinig ruimte zit tussen de tekst en de rand van het blok. Als je deze omhoog zet dan komt er veel ruimte tussen het blokje en de tekst */ 
  /*overflow: hidden; /* Hiermee is het blokje beperkt en zou de tekst niet uit het blokje gaan 
  background-color: black; /* Hiermee geef ik de achtergrond van de navigation bar een kleur */
  
 
/*li {  /* Dit is de plek en omtrek van de blokjes in de navigation bar */
 /* float: left; /* hiermee zorg ik dat de blokjes van links naar rechts gaan*/
  /*border-right: 1px solid white; /* Hiermee geef ik de rand van de blokjes en de kleur van de rand*/
/*}
  
/*li a { /* Dit is de opmaak van de blokjes in de navigation bar */
  /*  display: block; /* Hiermee geef ik aan dat ze eruit moeten zien als blokjes*/
    /*color: white; /* Hiermee geef ik de kleur aan van de tekst in de blokjes*/
    /*text-align: center; /* Hiermee geef ik aan waar in het blokje de tekst moet staan*/
    /*padding: 22px 30px; /* Hiermee geef ik de breedte en de lengte van het blokje aan*/
    /*text-decoration: none; /* Hiermee geef ik aan dat het normale tekst is en geen decoratie zoals schuine streep eronder*/
/*}
  
/*li a:hover:not(.active) { /* Deze code zorgt ervoor dat het blokje van de navigation bar verandert als je er overheen gaat */
  /*  background-color: lightblue; /* Kleur van het blokje als je er overheen gaat */
    /*color: black; /* Kleur van de tekst in het blokje als je er overheen gaat 
  } */
            
body {background-color: darkkhaki}


h1 {
  
  color: white; /* Letterkleur in mijn kopje */
  text-align: center; /* Plek van de tekst in kopje */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Lettertype in mijn kopje */
  font-size: 32px; /*Lettergrootte in mijn kopje*/ 
  text-decoration: underline; /* Tekst decoratie in mijn kopje */
  text-decoration-color: lightblue;  /* Kleur tekst decoratie in mijn kopje */
}

p {
  color: white; /* Letterkleur in mijn paragrafen */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Lettertype in paragrafen */
  font-size: 20px; /* Lettergrootte in mijn paragrafen */
}

footer {
  color: white;/* Letterkleur in de footer */
  font-size: 18px; /* Lettergrootte in de footer */
  background-color: #111; /* Achtergrondkleur in de footer */
  border: 2px solid white; /* Dikte en kleur rand om de footer */
  text-align: center; /* Plek van de tekst in de footer */
}

/*.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 22px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 3px solid black;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown a {
  font-size: 22px;  
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0; 
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: lightblue;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: lightblue;
  color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
} */

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 22px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 3px black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown {
  float: left;
  overflow: hidden;
  border-right: 3px black;
}

.dropdown .dropbtn {
  font-size: 22px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: lightblue;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  background-color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: lightblue;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}